/* Malek Mkaddem */
body {
    background-color:cadetblue; 
}

h1 {
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    font-family: arial;
}   

h2{
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
    font-family: arial;
}

h3{
    font-weight: bold;
   font-size: 22pt;
    text-align: center;
    font-family: arial;
}

.box{
    display: flex;
    align-items: center;
}
.imag { 
   width: 300px;
    height: auto;
    
    
}
.intro {
   font-size: 18pt;
    font-family: arial;
    
    
}
.reason{
    font-size: 18pt;
      font-family: arial;
    text-align: justify;
}

    
.list{
    font-size: 16pt;
    font-family: arial;
    text-align: center;
    list-style-position:inside;
   
}

.link{
  
    font-size: 16pt;
    text-align: justify;
    font-family: arial;
    
}
